*{
    background: rgb(109, 151, 115);
}
.second h1{
    margin-left: 60px;
    background: rgb(109, 151, 115);
    font-size: 50px;
    color: white;
}
.second p{
    color: white;
    font-size: 20px;
    flex: right;
    float: right;
    margin-top: -200px;
    width: 50%;
}
img{
    margin-left: 60px;
    width: 90%;
    height:450px;
    margin-bottom: 10px;
    object-fit: cover;
}